.main {
  height: 100%;
  width:  100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin {
  background-color: lightblue;
  height: 42.5rem ;
  width:  30rem;
  
  border-radius: 25px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
}

.loginlabel {
  font-weight: bold;
  font-size: 2rem;
}

.textinput {
  width: 80%;
}
